:root {
    --text-color: black;
    --background-color: #FFFBB7;
    --third-color: #FFDFA9;
    --root-font-size: 20px;
    --main-font-size: 1.2rem;
    --sm-btn-padding: 0.6rem;
}

/* General styles */

html {
    font-size: var(--root-font-size);
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    text-align: center;
    background-color: var(--background-color);
    font-family: 'Roboto Condensed', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    /* grid-template-columns: 1fr repeat(2, minmax(6rem, auto)) 1fr; */
}

.section {
    height: 100vh;
}


/* Title */

#title-con {
    padding: 7vh 10% 7vh;
}

#title {
    grid-column: 2/4;
    /* padding: 1.5rem 0 2rem 0; */
    font-family: 'Merriweather';
    /* font-weight: 300; */
    /* letter-spacing: 1px; */
    font-size: 1.7rem;
    margin: 0;
}

/* Buttons */

button {
    border-radius: 3px;
    border: none;
    background-color: var(--third-color);
    cursor: pointer;
    color: var(--text-color);
}

.clicked {
    background-color: black;
    color: var(--third-color);
}

.sm-btn {
    width: 4.5rem;
    height: 1.3rem;
    font-size: 0.7rem;
}

#brew-btn-con {
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
    padding-right: var(--sm-btn-padding);
}

#coffee-btn-con {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-start;
    padding-left: var(--sm-btn-padding);
}

/* #methods-btn-con {
    grid-column: 2/4;
    margin-top: 0.8rem;
}

#methods-btn {
    width: 8.8rem;
} */

#calculate-btn-con {
    grid-column: 2/4;
    margin-top: 7vh;
}

#calculate-btn {
    width: 9.7rem;
    height: 1.4rem;
    font-size: 0.75rem;
    color: var(--third-color);
    background-color: black;
}


/* Inputs */

#inputs-con {
    margin-top: 7vh;
}

.input-con {
    grid-column: 2/4;
}

.hidden {
    display: none;
}

input {
    background-color: transparent;
    border: none;
    border-radius: 0%;
    border-bottom: solid 1px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: var(--root-font-size);
    padding: 0;
    padding-bottom: 5px;
}

#strength-input-con {
    margin-top: 1.5rem;
}

.input-line {
    margin-top: 0.4rem;
}

#brew-input,
#coffee-input {
    width: 45px;
}

#strength-input {
    width: 45px;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Results */

#results {
    /* min-height: 60%; */
    
}

#results-con {
    /* margin-top: 3.5em; */
    font-size: var(--main-font-size);
    padding-top: 25vh;
}

.result-title {
    /* margin-bottom: 1rem; */
}

.use-brew {
    grid-column: 2/4;
    /* height: 3rem; */
}

#water-result-con {
    grid-column: 2/3;
}

#coffee-result-con,
#brew-result-con {
    grid-column: 3/4;
}

.water-result-con-use-brew {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
}

.coffee-result-con-use-brew {
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5rem;
}

.use-coffee {
    grid-column: 2/3;
    margin-right: -1rem;
    margin-left: -1rem;
}

#will-get {
    grid-column: 3/4;
}

.water-result-con-use-coffee {
    /* margin-right: 1.5rem; */
}

img {
    height: 50px;
}

svg {
    height: 50px;
    width: 50px;
    color: var(--third-color);
}


/* Footer */

#second-section {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 0.7em;
    border-top: solid 1px;
    padding-top: 0.5rem;
    /* margin-top: 100px; */
    /* max-height: 9rem; */
}

footer div {
    margin: 1rem 0 1rem 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


@media(max-width: 370px) {
    body {
        font-size: 18px;
    }
}